USE [master]
GO
/****** Object:  Database [BKDOS]    Script Date: 16/05/2024 08:35:55 a. m. ******/
CREATE DATABASE [BKDOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BKDOS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BKDOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BKDOS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BKDOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BKDOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BKDOS]
GO
/****** Object:  Table [dbo].[ArchivosBecarios]    Script Date: 16/05/2024 08:35:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ArchivosBecarios](
	[Id_Archivo] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](50) NULL,
	[FilePath] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatosAcademicos]    Script Date: 16/05/2024 08:35:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosAcademicos](
	[Id_DatosAcademicos] [int] IDENTITY(1,1) NOT NULL,
	[Carrera] [varchar](50) NOT NULL,
	[Periodo] [nvarchar](50) NOT NULL,
	[Promedio] [float] NOT NULL,
	[Modelo] [nvarchar](50) NOT NULL,
	[CCT] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DatosAcademicos] PRIMARY KEY CLUSTERED 
(
	[Id_DatosAcademicos] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatosContacto]    Script Date: 16/05/2024 08:35:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosContacto](
	[Id_DatosContacto] [int] IDENTITY(1,1) NOT NULL,
	[Domicilio] [nvarchar](50) NOT NULL,
	[CodigoPostal] [varchar](50) NOT NULL,
	[Nacionalidad] [nvarchar](50) NOT NULL,
	[EstadoNacimiento] [nvarchar](50) NOT NULL,
	[Municipio] [nvarchar](50) NOT NULL,
	[Correo] [nvarchar](50) NOT NULL,
	[Telefono] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_DatosContacto] PRIMARY KEY CLUSTERED 
(
	[Id_DatosContacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatosGenerales]    Script Date: 16/05/2024 08:35:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatosGenerales](
	[Id_Alumno] [int] IDENTITY(1,1) NOT NULL,
	[ApellidoPaterno] [nvarchar](50) NOT NULL,
	[ApellidoMaterno] [nvarchar](50) NULL,
	[Nombres] [nvarchar](50) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[Edad] [int] NOT NULL,
	[Curp] [nvarchar](50) NOT NULL,
	[EstadoCivil] [nvarchar](50) NOT NULL,
	[Genero] [nvarchar](50) NOT NULL,
	[Id_DatosContacto] [int] NULL,
	[Id_DatosAcademicos] [int] NULL,
	[Estado] [int] NOT NULL,
	[Imagen] [image] NULL,
 CONSTRAINT [PK_DatosGenerales] PRIMARY KEY CLUSTERED 
(
	[Id_Alumno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 16/05/2024 08:35:55 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id_Usuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[Contrasena] [varchar](50) NOT NULL,
	[Correo] [varchar](50) NOT NULL,
	[Rol] [varchar](50) NOT NULL,
	[NumeroTelefonico] [varchar](50) NOT NULL,
	[Contra_admin] [nvarchar](50) NOT NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatosGenerales]  WITH CHECK ADD  CONSTRAINT [LlaveForanea_DatosAcademicos] FOREIGN KEY([Id_DatosAcademicos])
REFERENCES [dbo].[DatosAcademicos] ([Id_DatosAcademicos])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DatosGenerales] CHECK CONSTRAINT [LlaveForanea_DatosAcademicos]
GO
ALTER TABLE [dbo].[DatosGenerales]  WITH CHECK ADD  CONSTRAINT [LlaveForanea_DatosContacto] FOREIGN KEY([Id_DatosContacto])
REFERENCES [dbo].[DatosContacto] ([Id_DatosContacto])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DatosGenerales] CHECK CONSTRAINT [LlaveForanea_DatosContacto]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave foranea de datos de contacto a datos academicos' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DatosGenerales', @level2type=N'CONSTRAINT',@level2name=N'LlaveForanea_DatosAcademicos'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Llave foranea de id_alumno a id_DatosContacto' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'DatosGenerales', @level2type=N'CONSTRAINT',@level2name=N'LlaveForanea_DatosContacto'
GO
USE [master]
GO
